
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>
@Html.ActionLink("Edit eat types", "ViewAndEditEatTypes", "RestourantMenu", new { @class = "btn btn-primary" })
<br />
<br />
@Html.ActionLink("Edit menu", "ViewAndEditMenu", "RestourantMenu", new { @class = "btn btn-primary" })
<br />
<br />
@Html.ActionLink("Edit vacancy", "ViewAndEditVacancy", "RestourantMenu", new { @class = "btn btn-primary" })
<br />
<br />
@Html.ActionLink("View recruitment", "ViewAndEditEmployees", "RestourantMenu", new { @class = "btn btn-primary" })
<br />
<br />
@Html.ActionLink("View reservation", "ViewAndEditReservation", "RestourantMenu", new { @class = "btn btn-primary" })


